<div class="card mb-3 text-center">
  <div class="d-flex justify-content-center">
    <img
      src="{{ user.image }}"
      class="card-img-top rounded-circle mt-3"
      alt="{{ user.username }}"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
    <p class="card-text"><strong>User Name:</strong> {{ user.username }}</p>
    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
    <p class="card-text"><strong>Phone:</strong> {{ user.phone }}</p>
    <p class="card-text"><strong>Birthdate:</strong> {{ user.birthDate }}</p>
    <span class="badge" [ngClass]="getRoleColor()">{{
      user.role | titlecase
    }}</span>
  </div>
</div>
